﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESS - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/template/bower_components/bootstrap/dist/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        /*Overide style for diplaying login form on the index page*/
        .navbar-right {
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="Access Logo" /></a>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-top:20px; padding-right:20px;"><a href="#">@DateTime.Now.ToLongDateString()</a></li>
                        @*<li>@Html.Partial("_LoginPartial")</li>*@
                    </ul>
                </div>
            </div>
        </nav>
        @*<div class="row">
            <div class="col-md-12">
                @{
                    Html.RenderPartial("_Alerts");
                }
            </div>
        </div>*@
        @RenderBody()

        <!-- Footer -->
        <footer class="bg-4 text-center">
            @*<p> &copy; @DateTime.Now.Year - AB Bank Zambia</p>
            <p> &copy; @DateTime.Now.Year - AccessBank Nigeria</p>*@

            <p>&copy;@DateTime.Now.Year- AB Microfinance Bank Nigeria</p>
        </footer>


    </div>

    
    
    @**@@RenderSection("Scripts", required: false)
</body>
</html>


