﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ESS - @ViewBag.Title </title>
    <link href="@Url.Content("~/Content/template/bower_components/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/bower_components/metisMenu/dist/metisMenu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/dist/css/timeline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/dist/css/sb-admin-2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/bower_components/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    @*@Styles.Render("~/Content/themecss")*@
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" alt="Access Logo" /></a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right" style="padding:20px 50px 0 0">
                <li class="dropdown">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="#"> My Profile <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        @Html.ActionLink("View Profile", "Index", "Manage")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Edit Profile", "EditUserProfile", "Manage")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Change Password", "ChangePassword", "Manage")
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            if (User.IsInRole("Employee"))
                            {
                                <li>
                                    <a href="#"> Leave Application<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Leave")">Leave Applications</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("CreateLeaveRequest","Leave")">New Leave Application</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("LeaveBalance","Leave")"> Leave Balance </a>
                                        </li>
                                        @if (ViewBag.IsSupervisor)
                                        {
                                            <li>
                                                <a href="@Url.Action("SupervisorApprovedLeave", "Leave")">  Leave Approved by me </a>
                                            </li>
                                        }
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#">Performance Appraisal<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Appraisal")">View Appraisal</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("SubmitAppraisal", "Appraisal")">Complete Appraisal Form</a>
                                        </li>
                                        @if (ViewBag.IsSupervisor)
                                        {
                                            <li>
                                                <a href="@Url.Action("SupervisorApprovedAppraisal", "Appraisal")">  Appraisal Approved by me </a>
                                            </li>
                                        }

                                    </ul>

                                    <!-- /.nav-second-level -->
                                </li>
                            }
                        }
                        <li>
                            <a href="@Url.Action("Index", "Recruitment")"> Vacancies </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">@ViewBag.Title</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.Partial("_Alerts")
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/themescripts")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
