﻿@model EssPortal.Models.InvalidEmployee
@{
    ViewBag.Title = "Invalid Employee Detail";
    ViewBag.IsSupervisor = false;
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
}


<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Invalid Employeed Details Specified
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <p>Unable to retrieve information about the specified user credential.</p>
                    <p>You are attempting to connect with the following employee credential.</p>

                    <p>Company E-mail: @Model.Email</p>
                    <p>Employee No: @Model.EmployeeNo</p>
                    <p>User Id: @Model.NavUserId</p>
                    <br />
                    <p>Contact the help desk  for assistance.</p>
                </div>
            </div>
        </div>
    </div>
   
</div>
