﻿@{
    ViewBag.Title = "Confirm Email";
}

<p class="text-info">
    An email has been sent to the email address provided. <br />
    Please check your email and confirm your email address using the link provided.
</p>
@*<h3>Welcome to the Access Holdings Portal</h3>
<p class="text-danger">
    Click this link <a href="@ViewBag.Link">link</a> to confirm your email.
    If the link is cannot be clicked, copy and paste the URL @ViewBag.Link in a browser address bar to confirm your email. 
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
