﻿@model EssPortal.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h5>Enter the email you registered with. A reset instruction  will be sent to the email address. </h5>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label", style = "text-align: left" })
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('input[type=text]').bind('copy paste', function (e) {
                e.preventDefault();
            });
            $('input[type=password]').bind('copy paste', function (e) {
                e.preventDefault();
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
