﻿@model EssPortal.Models.LoginViewModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<div class="row" style="background-color: rgba(8,110,171,1); color: #ffffff; margin:0 ; padding:40px 0">
    <div class="col-md-8 col-md-offset-4">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-12">
        <section id="loginForm">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3"></div>
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
        <div class="col-md-offset-5 col-md-7">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
    </div>*@
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                @if (Model.ConfirmMail)
        {
            <p>
                @Html.ActionLink("Did not get an EMail confirmation link?", "ResendMailConfirmationUrl", new { }, new { @class = "whiteLink" })
            </p>
}

                <p>
                    @Html.ActionLink("Register a new user?", "Register", new { }, new { @class = "whiteLink" })
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword", new { }, new { @class = "whiteLink" })
                </p>
            </div>
        </div>
}
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new EssPortal.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @*to disable copy paste for both text and password inputs*@
    <script>
        $(document).ready(function () {
            $('input[type=text]').bind('copy paste', function (e) {
                e.preventDefault();
            });
            $('input[type=password]').bind('copy paste', function (e) {
                e.preventDefault();
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}