﻿@model EssPortal.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="row" style="background-color: rgba(8,110,171,1); color: #ffffff; margin:0 ; padding:40px 0">
    <div class="col-md-8 col-md-offset-4">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="col-md-12">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @*<h4 class="">Create a new account.</h4>*@
            <hr />

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-3"></div>
                @Html.LabelFor(m => m.Email, new { @class = " col-md-2 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3"></div>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-7">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p> *Password must be a Minimum of Eight characters including at least one Uppercase,Lowercase,Digit and NonAlphanumeric Character. </p>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" class="btn btn-default" value="Register" /> <br />
                    <p>Already Registered? @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "whiteLink" })</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @*to disable copy paste for both text and password inputs*@
    <script>
        $(document).ready(function () {
            $('input[type=text]').bind('copy paste', function (e) {
                e.preventDefault();
            });
            $('input[type=password]').bind('copy paste', function (e) {
                e.preventDefault();
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
