﻿@model EssPortal.Models.AppraisalViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        Personal Information
        <a data-toggle="collapse" href="#BiodataPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="BiodataPanel">
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.AppraisalNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.AppraisalNo, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.AppraisalNo)
                        </div>
                        @Html.ValidationMessageFor(model => model.AppraisalNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AppraisalPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.AppraisalPeriod, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.AppraisalPeriod)
                        </div>
                        @Html.ValidationMessageFor(model => model.AppraisalPeriod, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.EmployeeName)
                        </div>
                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.EmployeeNo, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.EmployeeNo)
                        </div>
                        @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.JobTitle)
                        </div>
                        @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeBranch, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.EmployeeBranch, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.EmployeeBranch)
                        </div>
                        @Html.ValidationMessageFor(model => model.EmployeeBranch, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfJoining, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.DateOfJoining, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.DateOfJoining)
                        </div>
                        @Html.ValidationMessageFor(model => model.DateOfJoining, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfLastAppraisal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.DateOfLastAppraisal, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.DateOfLastAppraisal)
                        </div>
                        @Html.ValidationMessageFor(model => model.DateOfLastAppraisal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.AppraiserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.AppraiserName, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.AppraiserName)
                        </div>
                        @Html.ValidationMessageFor(model => model.AppraiserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AppraiserJobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.AppraiserJobTitle, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.AppraiserJobTitle)
                        </div>
                        @Html.ValidationMessageFor(model => model.AppraiserJobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.AppraisalDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.HiddenFor(model => model.AppraisalDate, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="form-control">
                            @Html.DisplayTextFor(model => model.AppraisalDate)
                        </div>
                        @Html.ValidationMessageFor(model => model.AppraisalDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Previous/Current Year Performance Criteria
        <a data-toggle="collapse" href="#performance-section"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="performance-section">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Objective </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Description </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Self Assesment / Comment </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Appraiser Assesment / Comment </label>
                </div>
            </div>
        </div>

        <div id="performance-list">
            @for (int i = 0; i < Model.PerformanceCriteriaPreCurrYear.Count; i++)
            {
            <div class="performance-row" id="performance_@i">
                <div class="row">
                    @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].LineNo)
                    <div class="col-md-3">
                        <div class="form-group">
                            @if (Model.IsAppraiser)
                            { 
                                 @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].Objective, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].Objective)
                            }
                            else
                            { 
                                 @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].Objective, new { htmlAttributes = new { @class = "form-control" } })
                            }

                            @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].Objective, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            @if (Model.IsAppraiser)
                                {
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].Description, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].Description)
                            }
                            else
                            {
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].Description, new { htmlAttributes = new { @class = "form-control" } })
                                }

                            @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @if (Model.IsAppraiser)
                        {
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.PerformanceCriteriaPreCurrYear[i].SelfAssesment, Model.PerformanceCriteriaPreCurrYear[i].SelfAssesmentRating, new { @class = "form-control performance-self", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].SelfAssesment, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiseeComment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].SelfAssesment)
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiseeComment)
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessment, Model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessmentRating, new { @class = "form-control performance-appraiser" })
                                @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessment, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserComment, new { htmlAttributes = new { @class = "form-control" } })
                                <a href="javascript:void(0);" class="remPerformance"><span class="fa fa-minus-square"> DELETE</span></a>

                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.PerformanceCriteriaPreCurrYear[i].SelfAssesment, Model.PerformanceCriteriaPreCurrYear[i].SelfAssesmentRating, new { @class = "form-control performance-self" })
                                @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].SelfAssesment, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiseeComment, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessment, Model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessmentRating, new { @class = "form-control performance-appraiser", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessment, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserComment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserAssessment)
                                @Html.HiddenFor(model => model.PerformanceCriteriaPreCurrYear[i].AppraiserComment)
                                <a href="javascript:void(0);" class="remPerformance"><p class="fa fa-minus-square"> DELETE</p></a>
                            </div>
                        </div>
                        }

                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:void(0);" class="addPerformance"><p class="fa fa-plus-square"> ADD NEW </p></a>

            </div>
        </div>


        <div class="row" style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-md-8">
                <div class="form-group">
                    <strong>TOTAL RATING</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <p id="performance-self-total"> 0 </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <p id="performance-appraiser-total"> 0 </p>
                </div>
            </div>
        </div>
        <div class="row" style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-md-8">
                <div class="form-group">
                    <strong>AVERAGE RATING</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <p id="performance-self-average"> 0 </p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <p id="performance-appraiser-average"> 0 </p>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.HiddenFor(m => m.CompetencyCriteriaBehaviour.GroupName)
@Html.HiddenFor(m => m.SelfAssesementIndividualDev.GroupName)
@Html.HiddenFor(m => m.IsAppraiser)
@Html.HiddenFor(m => m.SendForApproval)
@Html.HiddenFor(m => m.AppraisalNo)
@Html.HiddenFor(m => m.SendToHr)
@Html.HiddenFor(m => m.ApproverSave)


@*Hidden values for the calculation of score ratings.*@
@foreach (var item in Model.DefinedRatings)
{
    <input type="text" value="@item.Score" id="@item.Rating.Replace(" ", "")" hidden="hidden" />
}



<div class="panel panel-default">
    <div class="panel-heading">
        @*@Model.CompetencyCriteriaBehaviour.GroupName*@
        Competency Criteria and Behavior
        <a data-toggle="collapse" href="#competency-section"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="competency-section">

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> Objective </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Description </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Self Assesment / Comment </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> Appraiser Assesment / Comment </label>
                </div>
            </div>
        </div>

        @for (int j = 0; j < Model.CompetencyCriteriaBehaviour.GroupMembers.Count; j++)
        {
        <div class="row" style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.HiddenFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Objective)
                    @Html.DisplayTextFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Objective)

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    @Html.HiddenFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Description)
                    @Html.HiddenFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Description_2)
                    @Html.DisplayTextFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Description)
                    @Html.DisplayTextFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].Description_2)
                </div>
            </div>
            @if (Model.IsAppraiser)
                {
            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesment, Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesmentRating, new { @class = "form-control competency-self", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesment, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiseeComment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessment, Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessmentRating, new { @class = "form-control competency-appraiser" })
                    @Html.ValidationMessageFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessment, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserComment, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>}
                else
                {
            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesment, Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesmentRating, new { @class = "form-control competency-self" })
                    @Html.ValidationMessageFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].SelfAssesment, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiseeComment, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.DropDownListFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessment, Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessmentRating,new { @class = "form-control competency-appraiser", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => Model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserAssessment, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.CompetencyCriteriaBehaviour.GroupMembers[j].AppraiserComment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
                }

        </div>
        }

        <div class="row" style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-md-6">
                <div class="form-group">
                    <strong>TOTAL RATING</strong>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p id="competency-self-total"> 0 </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p id="competency-appraiser-total"> 0 </p>
                </div>
            </div>
        </div>
        <div class="row" style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-md-6">
                <div class="form-group">
                    <strong>AVERAGE RATING</strong>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <p id="competency-self-average"> 0 </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <p id="competency-appraiser-average"> 0 </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @*<div class="panel panel-default">
            <div class="panel-heading">
                Summary of Ratings from Performance criteria and Competency criteria
                <a data-toggle="collapse" href="#CompetencyPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
            </div>
            <div class="panel-body panel-collapse collapse in" id="CompetencyPanel">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"> Rating </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"> Section 1 </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label"> Section 2 </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        @*@Model.SelfAssesementIndividualDev.GroupName*@
        General Assessment and Individual Development
        <a data-toggle="collapse" href="#IndividualDevPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="IndividualDevPanel">

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> Objective </label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label"> Self Assesment </label>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label"> Appraiser Assesment </label>
                </div>
            </div>
        </div>

        @for (int j = 0; j < Model.SelfAssesementIndividualDev.GroupMembers.Count; j++)
        {
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.HiddenFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].Objective)
                        @Html.DisplayTextFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].Objective)
                    </div>
                </div>
                @if (Model.IsAppraiser)
                {
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.EditorFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].SelfAssesment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].SelfAssesment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.EditorFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].AppraiserAssessment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].AppraiserAssessment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.EditorFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].SelfAssesment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].SelfAssesment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.EditorFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].AppraiserAssessment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => Model.SelfAssesementIndividualDev.GroupMembers[j].AppraiserAssessment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

            </div>
        }
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Objective for the Next Appraisal Period
        <a data-toggle="collapse" href="#objectivePanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="objectivePanel">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Objective </label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label"> Description </label>
                </div>
            </div>
        </div>
        <div id="nextappraisal-list">
            @for (int i = 0; i < Model.ObjectiveForNextAppraisal.Count; i++)
            {
            <div class="nextappraisal-row" id="nextappraisal_@i">
                <div class="row">
                    @Html.HiddenFor(model => model.ObjectiveForNextAppraisal[i].LineNo)
                    <div class="col-md-4">
                        <div class="form-group">
                           
                                @Html.EditorFor(model => model.ObjectiveForNextAppraisal[i].Objective, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ObjectiveForNextAppraisal[i].Objective, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            
                                @Html.EditorFor(model => model.ObjectiveForNextAppraisal[i].Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ObjectiveForNextAppraisal[i].Description, "", new { @class = "text-danger" })
                            <a href="javascript:void(0);" class="remNextappraisal"><p class="fa fa-minus-square"> DELETE </p></a>
                        </div>

                    </div>
                </div>
            </div>

            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:void(0);" class="addNextappraisal"><p class="fa fa-plus-square"> ADD NEW </p></a>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Open Room for Discussion on Work Environment and Organizational Structure
        <a data-toggle="collapse" href="#DiscussionPanal"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse collapse in" id="DiscussionPanal">

        <div class="row">

        </div>
        <div id="discussion-list">
            @for (int i = 0; i < Model.OpenRoomDiscussion.Count; i++)
            {
            <div class="discussion-row" id="discussion_@i">
                <div class="row">
                    @Html.HiddenFor(model => model.OpenRoomDiscussion[i].LineNo)

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label"> @Html.DisplayTextFor(model => model.OpenRoomDiscussion[i].Objective) </label>
                            @Html.HiddenFor(model => model.OpenRoomDiscussion[i].Objective)
                        </div>
                    </div>

                    @if (Model.IsAppraiser)
                        {
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.OpenRoomDiscussion[i].SelfAssesment, new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.OpenRoomDiscussion[i].SelfAssesment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.OpenRoomDiscussion[i].SelfAssesment, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OpenRoomDiscussion[i].SelfAssesment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        }

                </div>
            </div>
            }
        </div>
    </div>
</div>



@if (Model.IsAppraiser)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Date of Discussion between Employee and Supervisor/Appraiser
            <a data-toggle="collapse" href="#DiscussionDatePanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
        </div>
        <div class="panel-body panel-collapse collapse in" id="DiscussionDatePanel">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AppraisalTalkTookPlace, new { @class = "" })
                        @Html.DropDownListFor(model => model.AppraisalTalkTookPlace, Model.AppraisalTookPlaceSelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AppraisalTalkTookPlace, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfAgreement, new { @class = ""})
                        @Html.TextBoxFor(model => model.DateOfAgreement, new { @class = "form-control date-input" })
                        @Html.ValidationMessageFor(model => model.DateOfAgreement, "", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>
        </div>
    </div>

}
