﻿<script type="text/javascript">
    $(document).ready(function () {

        var EncryptUrl = '@Url.Action("EncryptText","Encrypt")';

        $('#submit').click(function (event) {
            event.preventDefault();
            var plaintext = $('#SecretKey').val();
            console.log(plaintext);
            $.ajax({
                type: 'POST',
                url: EncryptUrl,
                data: { "PlainText": plaintext },
                dataType: 'json',
                success: function (response) {
                    $('#secret').attr('hidden', false);
                    $('#secret').val(response);
                    console.log(response);
                    $('#keyDisplay').append('<p>' + response + '</p>');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.statusText);
                    //prompt(error);
                }
            });
        });
    });
</script>

