﻿@model EssPortal.Models.EncryptViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2>Encrypt Password</h2>

<div class="row">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.SecretKey, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SecretKey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecretKey, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-offset-3 col-md-9">
                <input type="button" value="submit" id="submit" />
            </div>
        </div>

    </div>
    <div id="keyDisplay">

    </div>
</div>




@section scripts{
<script type="text/javascript">
    $(document).ready(function () {

        var EncryptUrl = '@Url.Action("EncryptText","Encrypt")';

        $('#submit').click(function (event) {
            event.preventDefault();
            var plaintext = $('#SecretKey').val();
            console.log(plaintext);
            $.ajax({
                type: 'POST',
                url: EncryptUrl,
                data: { "PlainText": plaintext },
                dataType: 'json',
                success: function (response) {
                    $('#secret').attr('hidden', false);
                    $('#secret').val(response);
                    console.log(response);
                    $('#keyDisplay').append('<p>' + response + '</p>');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.statusText);
                    //prompt(error);
                }
            });
        });
    });
</script> 
   
}
