﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*From Previous solution*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #000;
    background: #fff;
    background-color: rgba(128,183,213,0.5);
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
    max-width: 65%;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    /*background-color: #1abc9c;*/ /* Green */
    background-color: rgba(8,110,171,1);
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #fff; /* Black Gray */
    color: rgba(114,121,126,1);
}

.container-fluid {
    padding: 170px 0;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 45px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: rgba(114,121,126,1);
}

.navbar-nav li a:hover {
    color: rgba(8,110,171,1) !important;
}

footer {
    padding: 20px 0;
}

.company-name {
    padding-top: 0.5em;
    text-align: right;
}

.btn-lg {
    border-radius: 0px;
}

.admin-welcome{
    color:#fff;
    margin-bottom:60px;
}

.container {
    width:90%;
}

.navbar-default {
    background-color: #fff;
}

.layout-page-container{
    padding: 0;
    border-top: 1px solid  rgba(8,110,171,1);
    border-bottom: 1px solid  rgba(8,110,171,1);
    background-color: #fff;
}
.layout-page-right{
    background-color: #fff;
}

.form-control {
    height:30px;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.form-horizontal .control-label {
    text-align: left;
}

input[type="checkbox"] {
    margin-top: 11px;
}
.whiteLink {
    color: white;
}