﻿@model EssPortal.Models.BehaviourTemplateGroup

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.GroupName
        <a data-toggle="collapse" href="#BiodataPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
    </div>
    <div class="panel-body panel-collapse" id="BiodataPanel">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Objective </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Description </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> Self Assesment </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> Appraiser Assesment </label>
                </div>
            </div>
        </div>

        @for (int i = 0; i < Model.GroupMembers.Count; i++)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.EditorFor(model => model.GroupMembers[i].Objective, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupMembers[i].Objective, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.EditorFor(model => model.GroupMembers[i].Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupMembers[i].Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.GroupMembers[i].SelfAssesment, Model.Rating, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GroupMembers[i].SelfAssesment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.GroupMembers[i].AppraiserAssessment, Model.Rating, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GroupMembers[i].AppraiserAssessment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>