﻿@model EssPortal.Models.AppraisalViewModel

@{
    ViewBag.Title = "Submit Appraisal";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SubmitAppraisal", "Appraisal", new { }, FormMethod.Post, new { @id= "SubmitAppraisal" }))
        {

            @Html.EditorFor(m => m)

            <div class="form-group" style="padding-bottom: 10px">
                <input type="submit" value="Send to Appraiser" class="btn btn-default btn-lg" id="submit-appraisal" />
                <input type="submit" value="Save" class="btn btn-default btn-lg" id="save-appraisal" />
                @Html.ActionLink("Discard Changes", "Index", "Appraisal", new { @class = "btn btn-default btn-lg" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    @{Html.RenderPartial("_AppraisalScripts");}
}
