﻿@model EssPortal.Models.AppraisalIndexViewModel
@{
    ViewBag.Title = "Employee Appraisals";
}

<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Approved Appraisals
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th>Appraisal No</th>
                                <th>Appraisal Period</th>
                                <th>Status</th>
                                <th>Appraisal Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Appraisals.Count <= 0)
                            {
                                <tr>
                                    <td colspan="5">You currently do not have any appraisals.</td>
                                </tr>
                            }
                            @foreach (var item in Model.Appraisals)
                            {
                                <tr>
                                    <td>@item.Appraisal_No</td>
                                    <td>@item.Appraisal_Period</td>
                                    <td>@item.Status</td>
                                    <td>@item.Appraisal_Date.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @if (item.Status == EssPortal.PerformanceMgmtRef.Status.Pending_Approval && !item.Appraisal_Period_Closed)
                                        {

                                            <a href="@Url.Action("AppraiserReviewAppraisal", "Appraisal", new { AppraisalNo = item.Appraisal_No })">Review</a>
                                        }
                                        @if (item.Status == EssPortal.PerformanceMgmtRef.Status.Approved)
                                        {
                                            <a href="@Url.Action("ViewAppraisal", "Appraisal", new { AppraisalNo = item.Appraisal_No, IsAppraiser=true })">View</a>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Appraisals Pending Review
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ">
                        <tbody>
                            @foreach (var item in Model.PendingApprovals)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("AppraiserReviewAppraisal", "Appraisal", new { AppraisalNo = item.Appraisal_No })">@item.Employee_Name</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>


        @*@Html.Partial("_LeaveBalance", employee)

            @if (Model.UserIsSupervisor)
                {
                @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
            }*@
    </div>
</div>
