﻿@model EssPortal.Models.IndexViewModel
@{
    var name = Model.Biodata.FirstName + " " + Model.Biodata.MiddleName + " " + Model.Biodata.LastName;
    ViewBag.Title = "Welcome " + name;
    var isEmployee = Model.IsEmployee;
    var Gender = Model.Biodata.Gender == "_blank_" ? "" : Model.Biodata.Gender;
    var MarritalStatus = Model.Biodata.MaritalStatus == "_blank_" ? "" : Model.Biodata.MaritalStatus;
    var classStyle = isEmployee ? "col-md-9" : "col-md-12";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="@classStyle" >
        <div class="panel panel-default">
            <div class="panel-heading">
                Profile Information
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @if (Model.IsEmployee)
                            {
                                <tr>
                                    <td>@Html.DisplayNameFor(m => m.Biodata.EmployeeNo) :</td>
                                    <td>@Model.Biodata.EmployeeNo</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(m => m.Biodata.EmployeeJobTitle) :</td>
                                    <td>@Model.Biodata.EmployeeJobTitle</td>
                                </tr>
                            }
                            
                            <tr>
                                <td>Name:</td>
                                <td>@name</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.IdNo) :</td>
                                <td>@Model.Biodata.IdNo</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.Citizenship) :</td>
                                <td>@Model.Biodata.Citizenship</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.Gender) :</td>
                                <td>@Gender</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.DateOfBirth) :</td>
                                <td>@Model.Biodata.DateOfBirth</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.MaritalStatus) :</td>
                                <td>@MarritalStatus</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.CellPhoneNo) :</td>
                                <td>@Model.Biodata.CellPhoneNo</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.HomePhoneNumber) :</td>
                                <td>@Model.Biodata.HomePhoneNumber</td>
                            </tr>
                                @if (Model.IsEmployee)
                                {
                                    <tr>
                                        <td>Company E-Mail :</td>
                                        <td>@Model.Biodata.CompanyEmail</td>
                                    </tr>
                                    <tr>
                                        <td>Private E-Mail :</td>
                                        <td>@Model.Biodata.Email</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@Html.DisplayNameFor(m => m.Biodata.Email) :</td>
                                        <td>@Model.Biodata.Email</td>
                                    </tr>                                    
                                }                                
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.PostalAddress) :</td>
                                <td>@Model.Biodata.PostalAddress</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.ResidentialAddressStreet) :</td>
                                <td>@Model.Biodata.ResidentialAddressStreet</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.ResidentialAddressDistrict) :</td>
                                <td>@Model.Biodata.ResidentialAddressDistrict</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.ResidentialAddressCity) :</td>
                                <td>@Model.Biodata.ResidentialAddressCity</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(m => m.Biodata.Country) :</td>
                                <td>@Model.Biodata.Country</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    @if (isEmployee)
    {
        <div class="col-md-3">
            @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
        </div>
    }    
</div>
