﻿@model EssPortal.Models.NavConfigViewModel

@{
    ViewBag.Title = "Nav User Config";
}

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("NavConfig", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.NavUserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.NavUserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.NavUserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NavPsw, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NavPsw, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NavPsw, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Details" class="btn btn-default" />
        </div>
    </div>

}


