﻿@model EssPortal.Models.HtmlFieldIndexer
    @{ var index = Model.Index; }

<div class="container-fluid referee-row" style="border:1px solid #ddd; padding-top:10px">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="">Designation</label>
                <input class="form-control referee-designation text-box single-line" id="" name="Referees[@index].Designation" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].Designation" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label" for="">Names</label>
                <input class="form-control referee-names text-box single-line" id="" name="Referees[@index].Names" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].Names" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="">Institution</label>
                <input class="form-control referee-institution text-box single-line" id="" name="Referees[@index].Institution" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].Institution" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label " for="">TelephoneNo</label>
                <input class="form-control referee-telephone text-box single-line" id="" name="Referees[@index].TelephoneNo" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].TelephoneNo" data-valmsg-replace="true"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="">E-mail</label>
                <input class="form-control referee-email text-box single-line" id="" name="Referees[@index].EMail" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].EMail" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                <label class="control-label" for="">Address</label>
                <input class="form-control referee-address text-box single-line" id="" name="Referees[@index].Address" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Referees[@index].Address" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <br>
                <a href="javascript:void(0);" class="remReferee btn btn-default">Remove</a>
            </div>
        </div>
    </div>
</div>
