﻿@model EssPortal.Models.ApplyViewModel

@{
    ViewBag.Title = "Job Application";
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
    var LanguageOptions = ViewBag.LanguageSelectList as IEnumerable<SelectListItem>;
}

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Apply2", "Recruitment", FormMethod.Post, new { enctype = "multipart/form-data", id="application-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p> All fields marked (*) are mandatory</p>
            // Add the editor template for the applicant biodata
            @Html.EditorFor(x => x.ApplicantBioData)

            <div class="panel panel-default">
                <div class="panel-heading">
                    Educational Information
                    <a data-toggle="collapse" href="#EducationPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse  collapse in" id="EducationPanel">
                    <div id="education-list">
                        @for (int i = 0; i < Model.Qualifications.Count; i++)
                        {
                            <div class="container-fluid education-row" style="border:1px solid #ddd; padding-top:10px; margin-top:3px" id="education_@i">
                                @Html.HiddenFor(model => model.Qualifications[i].IsDeleted)
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].QualificationType, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => Model.Qualifications[i].QualificationType, Model.Qualifications[i].QualificationTypeSelectList, new { @class = "form-control QualificationTypeClass" }) <!--QualificationTypeClass-->
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].QualificationType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].QualificationCode, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => Model.Qualifications[i].QualificationCode, Model.Qualifications[i].RelatedQualificationCodes, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].QualificationCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>



                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].Score, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.Qualifications[i].Score, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].Score, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].Institution, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => Model.Qualifications[i].Institution, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].Institution, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].FromDate, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => Model.Qualifications[i].FromDate, new { htmlAttributes = new { @class = "form-control date-input" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].FromDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].ToDate, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => Model.Qualifications[i].ToDate, new { htmlAttributes = new { @class = "form-control date-input" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].ToDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].Comment, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => Model.Qualifications[i].Comment, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <br />
                                            <a href="javascript:void(0);" class="remEducation"><p class="fa fa-minus-square"> DELETE </p></a>
                                        </div>
                                    </div>
                                                                       
                                    @*<div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.Qualifications[i].Detail, htmlAttributes: new { @class = "control-label" })

                                            @Html.EditorFor(model => Model.Qualifications[i].Detail, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => Model.Qualifications[i].Detail, "", new { @class = "text-danger" })
                                            <a href="javascript:void(0);" class="remEducation"><p class="fa fa-minus-square"> DELETE </p></a>
                                        </div>
                                        
                                    </div>*@                                    
                                </div>
                                
                            </div>
                        }
                    </div>
                    <div style="padding-top:10px">
                        <a href="javascript:void(0);" class="addEducation"><p class="fa fa-plus-square"> ADD NEW </p></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Employment History
                    <a data-toggle="collapse" href="#EmpHistoryPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse  collapse in" id="EmpHistoryPanel">
                    <div id="employment-list">
                        @for (int i = 0; i < Model.EmploymentHistory.Count; i++)
                        {
                            <div class="container-fluid employment-row" style="border:1px solid #ddd; padding-top:10px; margin-top:3px" id="employment_@i">
                                @Html.HiddenFor(model => model.EmploymentHistory[i].IsDeleted)
                                @Html.HiddenFor(model => model.EmploymentHistory[i].IsEmployee)
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].CompanyName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].CompanyName, new { htmlAttributes = new { @class = "form-control employment-companyname" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].CompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].JobTitle, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].JobTitle, new { htmlAttributes = new { @class = "form-control employment-jobtitle" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].JobTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].FromDate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].FromDate, new { htmlAttributes = new { @class = "form-control date-input employment-fromdate" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].FromDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].ToDate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].ToDate, new { htmlAttributes = new { @class = "form-control date-input employment-todate" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].ToDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].Department, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].Department, new { htmlAttributes = new { @class = "form-control employment-department" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].Department, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => Model.EmploymentHistory[i].Comment, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => Model.EmploymentHistory[i].Comment, new { htmlAttributes = new { @class = "form-control employment-comment" } })
                                            @Html.ValidationMessageFor(model => Model.EmploymentHistory[i].Comment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            
                                            <br />
                                            <a href="javascript:void(0);" class="remEmployment"><p class="fa fa-minus-square"> DELETE </p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div style="padding-top:10px">
                        <a href="javascript:void(0);" class="addEmployment"><p class="fa fa-plus-square"> ADD NEW </p></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Languages
                    <a data-toggle="collapse" href="#LanguagePanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse  collapse in" id="LanguagePanel">
                    <div id="language-list">
                        @for (int i = 0; i < Model.Languages.Count; i++)
                        {
                            <div class="container-fluid language-row" style="border:1px solid #ddd; padding-top:10px; margin-top:3px" id="language_">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Languages[i].Language,  htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.Languages[i].Language, Model.Languages[i].LanguagesSelectList, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Languages[i].Language, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <br />
                                            <a href="javascript:void(0);" class="remLanguage"><p class="fa fa-minus-square"> DELETE </p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div style="padding-top:10px">
                        <a href="javascript:void(0);" class="addLanguage"><p class="fa fa-plus-square"> ADD NEW </p></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Referees
                    <a data-toggle="collapse" href="#RefereePanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>

                </div>
                <div class="panel-body panel-collapse collapse in" id="RefereePanel">
                    <div id="referee-list">
                        @for (int i = 0; i < Model.Referees.Count; i++)
                        {
                            <div class="container-fluid referee-row" style="border:1px solid #ddd; padding-top:10px; margin-top:3px" id="referee_@i">
                                @Html.HiddenFor(model => model.Referees[i].IsDeleted)
                                <div class="row">
                                    
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].Names, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Referees[i].Names, new { htmlAttributes = new { @class = "form-control referee-names" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].Names, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].Designation, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Referees[i].Designation, new { htmlAttributes = new { @class = "form-control referee-designation" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].Designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].Institution, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Referees[i].Institution, new { htmlAttributes = new { @class = "form-control referee-institution" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].Institution, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].TelephoneNo, htmlAttributes: new { @class = "control-label " })
                                            @Html.EditorFor(model => model.Referees[i].TelephoneNo, new { htmlAttributes = new { @class = "form-control referee-telephone" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].TelephoneNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].EMail, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Referees[i].EMail, new { htmlAttributes = new { @class = "form-control referee-email" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].EMail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Referees[i].Address, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Referees[i].Address, new { htmlAttributes = new { @class = "form-control referee-address" } })
                                            @Html.ValidationMessageFor(model => model.Referees[i].Address, "", new { @class = "text-danger" })
                                            <a href="javascript:void(0);" class="remReferee"><p class="fa fa-minus-square"> DELETE </p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div style="padding-top:10px">
                        <a href="javascript:void(0);" class="addReferee"><p class="fa fa-plus-square"> ADD NEW </p></a>
                    </div>
                </div>
            </div>

            for (int i = 0; i < Model.FileAttached.Count; i++)
            {
                @Html.HiddenFor(model => model.FileAttached[i])
            }

            <div class="panel panel-default">
                <div class="panel-heading">
                    Document Upload
                    <a data-toggle="collapse" href="#DocUploadPanel"><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                </div>
                <div class="panel-body panel-collapse  collapse in" id="DocUploadPanel">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Maximum file size is 3MB. Accepted formats are (.doc, .docx, .jpg, .pdf)</p>
                        </div>
                            <div class="col-lg-2">
                                CV/Resume:*
                            </div>
                            <div class="col-lg-3 files">
                                <input type="file" name="files" class="form-control" style="padding:0" accept=".doc,.docx,.pdf" id="resumeFile" required/>
                                <p class="error" style="display:none; color:red"> Maximum allowed file size is 3mb.</p>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-lg-2">
                            Passport:
                        </div>
                        <div class="col-lg-3 files">
                            <input type="file" name="files" class="form-control" style="padding:0" accept=".doc,.docx,.jpg,.pdf" id="photoFile" required/>
                            <p class="error" style="display:none; color:red"> Maximum allowed file size is 3mb.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            Others:
                        </div>
                        <div class="col-lg-3 files">
                            <input type="file" name="files" class="form-control" style="padding:0" accept=".doc,.docx,.jpg,.pdf" id="otherFiles" required/>
                            <p class="error" style="display:none; color:red"> Maximum allowed file size is 3mb.</p>
                        </div>
                        <div class="col-lg-3">
                            @Html.DropDownListFor(model => model.OtherDocument, Model.OtherDocumentSelectList, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Submit Application" class="btn btn-default" id="submit-application" />
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.JobPosition)
            @Html.HiddenFor(m => m.JobApplicationNo)
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // Get the url to be used to generate the required templates.
        var url = '@Url.Action("RenderTemplateToHtml", "Recruitment")';
        var relatedQualificationsUrl = '@Url.Action("RelatedQualifications", "Recruitment")';

        function removeEntry(currentSectionId, index) {

            $("#" + currentSectionId + " :input").each(function (index2, input) {
                input.id = input.id.replace(/_\d+__/, "_" + index + "__");
                input.name = input.name.replace(/\[\d+\]/, "[" + (index) + "]");
                //Ensure the default value for the IsDeleted property is maintained as false.
                //if (input.value != "False" && input.value != "True") {
                //    input.value = "";
                //}
            });

            $("#" + currentSectionId + " label").each(function (index2, label) {
                var forValue = $(this).attr('for');
                forValue = forValue.replace(/_\d+__/, "_" + index + "__");
                $(this).attr('for', forValue);
            });

            $("#" + currentSectionId + " span").each(function (index2, span) {
                var valMsgVal = $(this).attr('data-valmsg-for');
                valMsgVal = valMsgVal.replace(/\[\d+\]/, "[" + (index) + "]");
                $(this).attr('data-valmsg-for', valMsgVal);
            });
        }

        function addEntry(newItemId, rowCount, section) {

            $("#" + newItemId + " :input").each(function (index, input) {
                input.id = input.id.replace(section + "_0", section + "_" + (rowCount));
                input.name = input.name.replace(section + "[0]", section + "[" + (rowCount) + "]");
                //Ensure the default value for the IsDeleted property is maintained as false.
                if (input.value != "False" && input.value != "True") {
                    input.value = "";
                }
            });

            $("#" + newItemId + " label").each(function (index, label) {
                var forValue = $(this).attr('for');
                forValue = forValue.replace(section + "_0", section + "_" + (rowCount));
                $(this).attr('for', forValue);
            });

            $("#" + newItemId + " span").each(function (index, span) {
                var valMsgVal = $(this).attr('data-valmsg-for');
                valMsgVal = valMsgVal.replace(section + "[0]",  section + "[" + (rowCount) + "]");
                $(this).attr('data-valmsg-for', valMsgVal);
            });
        }

        // Get the related qualification types for a selected qualification code from NAV.
        $(document).on('change', '.QualificationTypeClass',function () {
            var value = $(this).val();
            var elementId = $(this).attr('id');
            var idOfQualificationCode = '#' + elementId.replace('QualificationType', 'QualificationCode');

            if (value == '') {
                // Clear the selection for related field
                $(idOfQualificationCode).html('');
            }
            else {
                $.get(relatedQualificationsUrl, { QualificationType: value, currentSelection: ' ' }, function (data) {
                    var idOfQualificationCode = '#' + elementId.replace('QualificationType', 'QualificationCode');
                    // Replace the qualification code with the html to be constructed from the incoming data.
                    console.log(value);
                    var selectOptions = '';
                    for (var i = 0; i < data.length; i++) {
                        selectOptions += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $(idOfQualificationCode).html(selectOptions);
                });
            }
        });

        // Referee addition and removal codes
        $(".addReferee").click(function () {
            // Disable the button temporarily
            $(this).attr("disabled", true);
            var refereeRows = $('.referee-row');
            var rowCount = refereeRows.length;

            newItemId = 'referee_' + rowCount;
            var template = refereeRows.first().clone(false);
            template.attr("id", newItemId);
            template.css("display", "");
            $("#referee-list").append(template);

            addEntry(newItemId, rowCount, "Referees");

            $(this).attr("disabled", false);
        });

        $("#referee-list").on('click', '.remReferee', function () {
            // Do not allow deleting a row if it is only one row lleft.
            var refereeRows = $('.referee-row');
            var rowCount = refereeRows.length;
            if (rowCount > 1) {
                $(this).closest('.referee-row').remove();
            }
            
            var currentId = $(this).closest('.referee-row').attr('id');

            $("#referee-list").children().each(function (index) {

                currentSectionId = $(this).attr("id");

                // Update all indexes
                removeEntry(currentSectionId, index);
            });

            $("#referee-list").children().each(function (index) {
                $(this).attr("id", currentSectionId.replace(/_\d+/, "_" + (index)));
            });
        });

        // Employment addition and removal sections.
        $(".addEmployment").click(function () {

            // Disable the button temporarily
            $(this).attr("disabled", true);
            var employmentRows = $('.employment-row');
            var rowCount = employmentRows.length;

            newItemId = 'employment_' + rowCount;
            var template = employmentRows.first().clone(false);
            template.attr("id", newItemId);
            template.css("display", "");
            $("#employment-list").append(template);

            addEntry(newItemId, rowCount, "EmploymentHistory");

            $(this).attr("disabled", false);
        });        

        $("#employment-list").on('click', '.remEmployment', function () {

            // Do not allow deleting a row if it is only one row lleft.
            var refereeRows = $('.employment-row');
            var rowCount = refereeRows.length;
            if (rowCount > 1) {
                $(this).closest('.employment-row').remove();
            }

            //var currentId = $(this).closest('.employment-row').attr('id');

            $("#employment-list").children().each(function (index) {

                currentSectionId = $(this).attr("id");

                // Update all indexes
                removeEntry(currentSectionId, index);
            });

            $("#employment-list").children().each(function (index) {
                $(this).attr("id", currentSectionId.replace(/_\d+/, "_" + (index)));
            });

        });


        // Language addition and removal sections.
        $(".addLanguage").click(function () {

            // Disable the button temporarily
            $(this).attr("disabled", true);
            var languageRows = $('.language-row');
            var rowCount = languageRows.length;

            newItemId = 'language_' + rowCount;
            var template = languageRows.first().clone(false);
            template.attr("id", newItemId);
            template.css("display", "");
            $("#language-list").append(template);

            addEntry(newItemId, rowCount, "Languages");

            $(this).attr("disabled", false);
        });

        $("#language-list").on('click', '.remLanguage', function () {

            // Do not allow deleting a row if it is only one row lleft.
            var refereeRows = $('.language-row');
            var rowCount = refereeRows.length;
            if (rowCount > 1) {
                $(this).closest('.language-row').remove();
            }

            //var currentId = $(this).closest('.employment-row').attr('id');

            $("#language-list").children().each(function (index) {

                currentSectionId = $(this).attr("id");

                // Update all indexes
                removeEntry(currentSectionId, index);
            });

            $("#language-list").children().each(function (index) {
                $(this).attr("id", currentSectionId.replace(/_\d+/, "_" + (index)));
            });

        });



        $(".addEducation").click(function () {

            // Disable the button temporarily
            $(this).attr("disabled", true);
            var educationRows = $('.education-row');
            var rowCount = educationRows.length;

            newItemId = 'education_' + rowCount;
            var template = educationRows.first().clone(false);
            template.attr("id", newItemId);
            template.css("display", "");
            $("#education-list").append(template);

            addEntry(newItemId, rowCount, "Qualifications");

            $(this).attr("disabled", false);
        });

        $("#education-list").on('click', '.remEducation', function () {

            // Do not allow deleting a row if it is only one row lleft.
            var educationRows = $('.education-row');
            var rowCount = educationRows.length;
            if (rowCount > 1) {
                $(this).closest('.education-row').remove();
            }

            var currentId = $(this).closest('.education-row').attr('id');

            $("#education-list").children().each(function (index) {

                currentSectionId = $(this).attr("id");

                // Update all indexes
                removeEntry(currentSectionId, index);
            });

            $("#education-list").children().each(function (index) {
                $(this).attr("id", currentSectionId.replace(/_\d+/, "_" + (index)));
            });

        });


        $(document).on('focus', '.date-input', function () {
            var todaysDate = Date();
            $(this).datepicker({
                format: "dd/mm/yyyy",
                endDate: todaysDate,
                autoclose: true
            });
        });

        // File validation logic to enure that files are not more than 3mb before being submitted to the server.
        function FileIsValid(file) {

            if (window.File && window.FileReader && window.FileList && window.Blob) {

                
                // Confirm if there is any file attached
                if (file[0].files.length > 0) {
                    var fsize = file[0].files[0].size;
                    if (fsize > 3 * 1024 * 1024) //do something if file size more than 3 mb
                    {
                        file.closest('.files').children('.error').show();
                        return false;
                    } else {
                        file.closest('.files').children('.error').hide();
                    }
                }
            } else {
                alert("Please complete your application from a more recent browser. Your current browser lacks some new features we need!");
            }
            return true;
        }

        // Update the FileAttached array with which file type section that has a file attached.
        function UpdateFileAttached(fielType) {
            if (fielType == "resumeFile") {
                $("#FileAttached_0_").val("True");
            }
            else if (fielType == "photoFile") {
                $("#FileAttached_1_").val("True");
            }
            else if (fielType == "otherFiles") {
                $("#FileAttached_2_").val("True");
            }
        }

        $('input[name="files"]').bind('change', function () {

            //get the file size and file type from file input field
            var thisFile = $(this);

            //console.log(thisFile.attr("id"));
            UpdateFileAttached(thisFile.attr("id"));

            FileIsValid(thisFile);
        });

        $('#application-form').submit(function (event) {
            // Validate all file input fields before submitting the application form.
            $('input[name="files"]').each(function () {
                var thisFile = $(this);
                var result = FileIsValid(thisFile);
                if (!result) {
                    event.preventDefault();
                    return false;
                }
            });

            var resume = $('#resumeFile');

            //ensure only pdf and docx format
            
            //Validate resume is attached
            var validExtension = ['pdf', 'docx'];
            var fileName = $('#resumeFile').val().split('.').pop().toLowerCase();
            
            if (resume.size < 0 || ($.inArray(fileName, validExtension) < 0)) {
                alert('No File Found/Invalid File Format');
                event.preventDefault();
                return false;
                }
            
        });

    </script>
}