﻿@model EssPortal.Models.LeaveIndexViewModel
@{
    ViewBag.Title = "Leave Summary";
    Layout = "~/Views/Shared/_InnerPageLayout2.cshtml";
    var employee = Model.EmployeeDataResponse.Employee;
}

<!-- /.row -->
<div class="row">
    <div class="col-lg-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                Leave Request Summary
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover ">
                        <thead style="background-color:#f5f5f5">
                            <tr>
                                <th>Leave No</th>
                                <th>Application Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>No. of Days Applied</th>
                                <th>No. of Days Approved</th>
                                <th>Approved Start Date</th>
                                <th>Approved End Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LeaveResponse.Leave)
                            {
                                <tr>
                                    <td>@item.Application_Code</td>
                                    <td>@item.Application_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Leave_Start_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Leave_End_Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.No_of_Leave_Days_Applied_for</td>
                                    <td>@item.No_of_Leave_Days_Approved</td>
                                    <td>@item.Start_Date_of_Approved_Leave.ToString("dd/MM/yyyy")</td>
                                    <td>@item.End_Date_of_Approved_Leave.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @item.Status
                                        @if (item.Status == EssPortal.LeaveRef.Status.New)
                                        {
                                            /*ADD A EDIT LINK TO ENABLE EDITING THE APPLICATION*/
                                            <a href="@Url.Action("Edit", "Leave", new { ApplicationCode = item.Application_Code })" class="pull-right">Edit</a>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>


        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("CreateLeaveRequest", "Leave")" class="btn btn-default">New Leave Application</a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-3">
        
        @Html.Partial("_LeaveBalance", employee)

        @if (Model.UserIsSupervisor)
        {
            @Html.Partial("_PendingLeaveApprovePanel", Model.LeavePendingApproval.Leave)
        }
    </div>
</div>
