﻿@using PagedList.Mvc;
@using PagedList;
@model PagedList<EssPortal.Models.ApplicationUser>

@{
    ViewBag.Title = "All Sytem Users";
    ViewBag.Granule = "Manage Users";
}
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>

<div class="col-sm-10">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Users
</div>
