﻿@model EssPortal.Models.EncryptViewModel

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.SecretKey, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.SecretKey, new { htmlAttributes= new { @class = "form-control"}})
            @Html.ValidationMessageFor(model => model.SecretKey, "", new { @class ="text-danger"})
        </div>
    </div>
</div>
